.button1 {
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    
}

.button1:hover {
    background-color: #3e8e41;
    color: white;
}

.button1:active {
    background-color: #3e8e41;
    box-shadow: 0 10px #666;
    transform: translateY(4px);
}